*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#f4e4ba ;
}
.container{
    background-color: #fff;
    border-radius:1rem ;
    padding: 2rem;
    min-height: 45vh;
    width: 40vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form button,select,input{
    width: 100%;
    border: none;
    border-radius: 0.75rem;
    outline: none;
}
form input{
    font-size:1rem ;
    height:2.5rem;
    border: 1px solid lightgray;
    padding: 0.5rem;
}
p{
    font-size:1.15rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.selectcontainer img{
  max-width: 2rem;
}
.selectcontainer{
    display: flex;
    width: 6rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top:1rem;
}
.selectcontainer select{
    font-size: 1rem;
    width: auto;
}
.msg{
    margin:2rem 0 2rem 0;
    font-size: 1.15rem;
}
form button{
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
}
