body {
    text-align: center;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-image: url(table.png);
    background-size: cover;
    font-weight: bold;
  }
  h1 {
    color: goldenrod;
    font-size: 50px;
  }
  #message-el {
    font-style: italic;
    font-size: larger;
  }
  button {
    background-color: goldenrod;
    border: none;
    color: #016f32;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-radius: 2px;
    margin: 5px 0;
  }
  button:hover {
    box-shadow: 3px 3px 15px gold;
  }
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }